# DEBUG = True

STATIC_ROOT = '/home/linkedevents/static'
STATIC_URL = '/linkedevents/static/'

ALLOWED_HOSTS = ['*']

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'linkedevents',
        'USER': '{{ linkedevents_system_user }}',
        'PASSWORD': '{{ linkedevents_db_password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}


# JWT_AUTH = {
#     'JWT_SECRET_KEY': 'SikretQeyIsHere',
#     'JWT_AUDIENCE': diibadaabafoobar',
#     'JWT_PAYLOAD_GET_USER_ID_HANDLER': 'helusers.jwt.get_user_id_from_payload_handler',
# }
