upstream {{ linkedevents_virtualhost }}_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).
  # server unix:...../gunicorn.sock fail_timeout=0;
  server unix:///home/{{ linkedevents_system_user }}/run/linkedevents.sock;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    # For requesting Let's encrypt's SSL certificates
    location '/.well-known/acme-challenge' {
        default_type "text/plain";
        root        /tmp/letsencrypt-auto;
    }

    # Might be useful to put some error message here, in case of misconfiguration
    root /usr/share/nginx/html;
    index index.html index.htm;

    access_log /tmp/nginx-access.log;
    error_log /tmp/nginx-error.log;

    # Make site accessible from http://localhost/
    server_name {{ linkedevents_virtualhost }};

    # Django collectstatic is configured to gather everything here
    location /linkedevents/static/ {
        alias /home/{{ linkedevents_system_user }}/static/;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass {{ linkedevents_virtualhost }}_server;
        # uwsgi_pass 127.0.0.1:8000;
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        # try_files $uri $uri/ /index.html;
        # Uncomment to enable naxsi on this location
        # include /etc/nginx/naxsi.rules
    }

    #error_page 404 /404.html;

    # redirect server error pages to the static page /50x.html
    #
    #error_page 500 502 503 504 /50x.html;
    #location = /50x.html {
    #       root /usr/share/nginx/html;
    #}
}
